@{
    ViewData["Title"] = "Обліковий запис заблоковано";
}

<div class="text-center">
    <h2 class="text-warning">Обліковий запис заблоковано</h2>
    <p>Ваш обліковий запис тимчасово заблоковано. Спробуйте пізніше.</p>
</div>
